<div class="contents">
  <div class="filter">
    <div class="devise__content">
      <h2 class="devise__title">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="devise__field">
          <%= f.label :email,"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="devise__field">
          <%= f.label :password,"パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="devise__field">
            <%= f.label :remember_me,"パスワードを記憶させますか？" %>
          </div>
          <%= f.check_box :remember_me %>
        <% end %>

        <div class="devise__submit">
          <%= f.submit "ログインする" %>
        </div>
      <% end %>

      <div class="devise__link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>