= render partial: "players/header"

.contents
  .filter
    .serch
      = form_with url: "/players/search", method: :get, local: true, class: "serch__input" do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "serch__input__text"
        = form.submit "検索する", class: "serch__input__submit"
    .players
      - @players.each do |player|
        .player
          = link_to player_path(player) do
            = image_tag player.image.to_s, class:"player__photo"
          .player__name
            = player.name
            - if user_signed_in?
              - if current_user.already_favorited?(player) 
                = link_to player_favorites_path(player), method: :delete, class:"player__favorite" do
                  = icon('fas', 'fas fa-heart')
              - else 
                = link_to player_favorites_path(player), method: :post, class:"player__favorite" do
                  = icon('far', 'far fa-heart')
              = player.favorites.count 
    .paginate          
      = paginate(@players)

= render partial: "players/footer"      
   
