.header
  = link_to "/", class:"header__logo" do
    GOAL

.contents
  .filter
    .content
      .photo
        .photo__image
          = image_tag "#{@player.image}", height: "550", width: "400"
        .photo__btn
          - if user_signed_in? && current_user.id == @player.user_id        
            .photo__btn__area
              = link_to "/players/#{@player.id}/edit", class: "btn__edit" do
                = icon('fas', 'fas fa-futbol')      
              %span.photo__btn__area__text 編集する  
            .photo__btn__area    
              = link_to "/players/#{@player.id}", method: :delete, class: "btn__delete" do
                = icon('fas', 'fas fa-user-times')
              %span.photo__btn__area__text 削除する  
        
      .details
        .detail__group
          .detail__group__title
            選手名
          .detail__group__content  
            = @player.name
        .detail__group
          .detail__group__title
            国
          .detail__group__content  
            = @player.country
        .detail__group
          .detail__group__title
            ポジション
          .detail__group__content  
            = @player.position
        .detail__group
          .detail__group__title
            年齢
          .detail__group__content  
            = @player.age
        .detail__group
          .detail__group__title
            投稿者
          .detail__group__content  
            = link_to user_path(@player.user.id), class:"detail__group__content__link" do
              = @player.user.nickname
        .detail__group    
          .detail__group__title
            いいねの数
          .detail__group__content
            - if user_signed_in?
              - if current_user.already_favorited?(@player) 
                = link_to player_favorites_path(@player), method: :delete, class:"detail__group__content__favorite" do
                  = icon('fas', 'fas fa-heart')
              - else 
                = link_to player_favorites_path(@player), method: :post, class:"detail__group__content__favorite" do
                  = icon('far', 'far fa-heart')
              = @player.favorites.count
        .detail__group
          .detail__group__title
            投稿者の一言
          .detail__group__content
            こいつのドリブルはヤバイ

      - if user_signed_in?
        .comment
          .comment__form
            = form_with(model: [@player, @comment], local: true, id: "new_comment") do |f|
              = f.text_area :text, class: "comment__form__text", placeholder: "コメントする"
              = f.submit 'SEND', class: "comment__form__btn"
          .comment__date
            - @comments. each do |comment|
              .comment__date__group
                %span.comment__date__group__name
                  = comment.user.nickname
                %span.comment__date__group__colon：
                %span.comment__date__group__text
                  = comment.text
      - else 
        .comment
          %p.comment__alart
            コメントするにはログインまたは新規登録しよう！
          .comment__btn
            = link_to new_user_session_path, class:"comment__btn__rogin" do
              ログインする
            = link_to new_user_registration_path, class:"comment__btn__new" do
              新規登録する
                          
